.button-close-x {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.button-close-x .x-close {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.button-close-x .x-close-7 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.button-close-x.md {
  padding: 10px;
}

.button-close-x.sm {
  padding: 8px;
}

.button-close-x.dark.focused {
  background-color: #ffffff33;
}

.button-close-x.lg.light {
  padding: 10px;
}

.button-close-x.lg.dark {
  padding: 8px;
}

.button-close-x.dark.hover {
  background-color: #ffffff33;
}

.button-close-x.focused.primary.light {
  background-color: var(--primary-50);
  box-shadow: var(--focus-ring-4px-primary-100);
}

.button-close-x.dark.focused.gray {
  box-shadow: var(--focus-ring-4px-gray-500);
}

.button-close-x.gray.hover.light {
  background-color: var(--gray-50);
}

.button-close-x.gray.focused.light {
  background-color: var(--gray-50);
}

.button-close-x.dark.focused.primary {
  box-shadow: var(--focus-ring-4px-primary-500);
}

.button-close-x.hover.primary.light {
  background-color: var(--primary-50);
}
