.avatar .icon {
  position: relative;
}

.avatar .person-filled {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.avatar .div {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.avatar .OP {
  position: relative;
}

.avatar .badge {
  border-radius: 8px;
  height: 8px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 8px;
}

.avatar.badge-false {
  height: 40px;
  width: 40px;
}

.avatar.image-false {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.avatar.badge-true {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 56px;
}

.avatar.icon-true {
  padding: 8px;
}

.avatar.image-true.badge-false {
  background-position: 50% 50%;
  background-size: cover;
}

.avatar.badge-false.rounded {
  border-radius: 4px;
}

.avatar.badge-false.circular {
  border-radius: 64px;
}

.avatar.circular.badge-false.image-false {
  overflow: hidden;
}

.avatar.badge-false.rounded.image-false {
  overflow: hidden;
}

.avatar.image-true.badge-false.rounded {
  background-image: url(../../../static/img/avatar-5.png);
}

.avatar.square.badge-false.image-true {
  background-image: url(../../../static/img/avatar-4.png);
}

.avatar.dark-mode-false.badge-false.image-false {
  background-color: var(--grey-400);
}

.avatar.image-true.badge-false.circular {
  background-image: url(../../../static/img/variant-circular-badge-false-icon-false-image-true-dark-mod-1.png);
}

.avatar.badge-false.dark-mode-true.image-false {
  background-color: var(--grey-600);
}

.avatar.badge-true .icon {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
}

.avatar.icon-false.circular .icon {
  align-self: stretch;
  flex: 1;
}

.avatar.badge-false.icon-true .icon {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
}

.avatar.square.image-true .icon {
  background-image: url(../../../static/img/avatar-4.png);
  background-position: 50% 50%;
  background-size: cover;
}

.avatar.badge-false.icon-false .icon {
  font-family: var(--components-avatar-initials-font-family);
  font-size: var(--components-avatar-initials-font-size);
  font-style: var(--components-avatar-initials-font-style);
  font-weight: var(--components-avatar-initials-font-weight);
  letter-spacing: var(--components-avatar-initials-letter-spacing);
  line-height: var(--components-avatar-initials-line-height);
  margin-top: -1px;
  text-align: center;
}

.avatar.square.badge-false.icon-false .icon {
  height: 40px;
  width: 40px;
}

.avatar.dark-mode-false.badge-false.icon-false .icon {
  color: var(--lightbackgroundpaper);
}

.avatar.badge-false.icon-false.rounded .icon {
  height: 40px;
  width: 40px;
}

.avatar.badge-false.icon-false.dark-mode-true .icon {
  color: var(--darkbackgroundpaperelevation-0);
}

.avatar.rounded .overlap-group {
  height: 44px;
  position: relative;
  width: 44px;
}

.avatar.image-false .overlap-group {
  position: relative;
}

.avatar.circular .overlap-group {
  border-radius: 64px;
  height: 40px;
  width: 40px;
}

.avatar.square .overlap-group {
  position: relative;
}

.avatar.image-true.circular .overlap-group {
  background-image: url(../../../static/img/avatar-3.png);
  background-position: 50% 50%;
  background-size: cover;
}

.avatar.square.image-false .overlap-group {
  height: 44px;
  width: 44px;
}

.avatar.square.image-true .overlap-group {
  border-radius: 64px;
  height: 12px;
  left: 32px;
  top: 32px;
  width: 12px;
}

.avatar.square.dark-mode-true.image-true .overlap-group {
  background-color: var(--darkbackgroundpaperelevation-0);
}

.avatar.square.dark-mode-false.image-true .overlap-group {
  background-color: var(--lightbackgroundpaper);
}

.avatar.rounded .div {
  border-radius: 4px;
}

.avatar.image-false .div {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.avatar.circular .div {
  border-radius: 64px;
  overflow: hidden;
}

.avatar.icon-true .div {
  padding: 8px;
}

.avatar.image-true .div {
  background-image: url(../../../static/img/avatar-5.png);
  background-position: 50% 50%;
  background-size: cover;
}

.avatar.dark-mode-false.image-false .div {
  background-color: var(--grey-400);
}

.avatar.dark-mode-true.image-false .div {
  background-color: var(--grey-600);
}

.avatar.rounded.image-false .div {
  overflow: hidden;
}

.avatar.icon-true .OP {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
}

.avatar.icon-false .OP {
  font-family: var(--components-avatar-initials-font-family);
  font-size: var(--components-avatar-initials-font-size);
  font-style: var(--components-avatar-initials-font-style);
  font-weight: var(--components-avatar-initials-font-weight);
  letter-spacing: var(--components-avatar-initials-letter-spacing);
  line-height: var(--components-avatar-initials-line-height);
  text-align: center;
}

.avatar.icon-false.circular .OP {
  align-self: stretch;
  flex: 1;
}

.avatar.dark-mode-true.icon-false .OP {
  color: var(--darkbackgroundpaperelevation-0);
}

.avatar.icon-false.rounded .OP {
  height: 40px;
  width: 40px;
}

.avatar.square.icon-false .OP {
  height: 40px;
  width: 40px;
}

.avatar.dark-mode-false.icon-false .OP {
  color: var(--lightbackgroundpaper);
}

.avatar.rounded .border {
  border-radius: 64px;
  height: 12px;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 12px;
}

.avatar.image-false .border {
  border-radius: 64px;
  height: 12px;
  position: absolute;
  width: 12px;
}

.avatar.circular .border {
  border-radius: 64px;
  height: 12px;
  left: 28px;
  top: 28px;
  width: 12px;
}

.avatar.image-true.circular .border {
  position: relative;
}

.avatar.dark-mode-false.image-false .border {
  background-color: var(--lightbackgroundpaper);
}

.avatar.dark-mode-false.circular .border {
  background-color: var(--lightbackgroundpaper);
}

.avatar.dark-mode-true.circular .border {
  background-color: var(--darkbackgroundpaperelevation-0);
}

.avatar.square.image-false .border {
  left: 32px;
  top: 32px;
}

.avatar.square.image-true .border {
  border-radius: 8px;
  height: 8px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 8px;
}

.avatar.dark-mode-true.rounded .border {
  background-color: var(--darkbackgroundpaperelevation-0);
}

.avatar.dark-mode-true.image-false .border {
  background-color: var(--darkbackgroundpaperelevation-0);
}

.avatar.dark-mode-false.rounded .border {
  background-color: var(--lightbackgroundpaper);
}

.avatar.square.dark-mode-true.image-true .border {
  background-color: var(--darksuccessmain);
}

.avatar.square.dark-mode-false.image-true .border {
  background-color: var(--lightprimarymain);
}

.avatar.dark-mode-true .badge {
  background-color: var(--darksuccessmain);
}

.avatar.dark-mode-false .badge {
  background-color: var(--lightprimarymain);
}
